@page "/"
@using TravelDashboard_SOA_CA1.Models
@using TravelDashboard_SOA_CA1.Service
@inject CountryService CountryService

<h3 class="mb-3">All Countries Information</h3>

@if (countries == null)
{
    <p>Loading...</p>
}
else
{
    <div class="country-grid">
        @foreach (var country in countries)
        {
            <a href="/country/@country.Name" class="country-card">
                <img src="@country.Flag" alt="Flag"/>
                <h4>@country.Name</h4>
                @* <p><b>Region:</b> @country.Region</p> *@
                @* <p><b>Capital:</b> @country.Capital</p> *@
            </a>
        }
    </div>
}

@code {
    private List<Country>? countries;

    protected override async Task OnInitializedAsync()
    {
// Call GetAllCountriesAsync to display all countries and flags
        countries = await CountryService.GetAllCountriesAsync();
    }

}